$main-color: #1755e7;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-blue-gradient: linear-gradient(45deg, rgba(8, 29, 61, 0.61), rgba(29, 65, 112, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(58, 93, 150, 0.75), rgba(61, 38, 167, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(84, 142, 196), rgb(15, 14, 100));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);