// 
@import './colors';

.header{
    background-image:$light-blue-gradient, url(../img/calc1920.jpg);
    // @include heroImage("../img/calc1920.jpg");
}

.burger-btn{
    display: none;
}

.scroll-fix::before {
    display: block;
    margin-top: -30px;
    height: 80px;
    content: '';
}

.nav{
    height: 80px;
    transform: translateX(0);
    justify-content: flex-end;

    &__item{
        display: inline-block;
        font-size: 1.8rem;
        
    }

    &__items{
        margin-right: 30px;
    }
}

.offers{
    &__box{
        flex-direction: row;
        justify-content: space-between;

        &-text{
            width: 60%;
        }
        &-img{
            width: 35%;
        }
    }
}

.pageIcon{
    &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
}
.fourth-icon{
    height: 100px;
}

